<section class="banner-home overflow-hidden pt-lg-100 pt-md-90 pt-sm-80 pt-xs-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <div class="banner-home__content pb-lg-60 pb-md-50 pb-sm-45 pb-xs-40">
                    <h6 class="sub-title color-white mb-20 mb-sm-15 mb-xs-10 d-inline-block">Welcome To <span>Kroft</span> Consultancy</h6> 
                    <h1 class="title color-white fw-bold mb-20 mb-sm-15 mb-xs-10">Build Up Your Business Strategy</h1>

                    <div class="description font-la color-white mb-45 mb-md-30 mb-sm-25 mb-xs-20">
                        <p>Trusted providers of Mendix Consultancy and Cardano Solutions, offering innovative and reliable solutions to help your business thrive.</p>
                    </div>

                    <div class="theme-btn__wrapper d-flex flex-wrap">
                        <a href="/services.html" class="theme-btn fw-600 btn-red">Find Consultant <i class="far fa-chevron-double-right"></i></a>
                        <a href="/about.html" class="theme-btn fw-600 btn-white-border">Read More <i class="far fa-chevron-double-right"></i></a>
                    </div>
                </div>

            </div>

            <div class="col-xl-6">
                <div class="banner-home__media">
                    <img src="assets/img/banner/banner-start.svg" class="img-fluid start" alt="">
                    <img src="assets/img/banner/banner-home.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>