<div class="can-help-overly-home overflow-hidden">
    <div class="can-help-overly">
        <div class="container"></div>
    </div>
    <!-- can-help start -->
    <section class="can-help can-help-home-1 pb-xs-80 pt-xs-80 pt-sm-100 pb-sm-100 pt-md-100 pb-md-100 pt-120 pb-120 overflow-hidden">
        <div class="can-help-background" style="background-image: url(assets/img/home/can-help-background.png)"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="can-help__content  mb-sm-40 mb-xs-40 mb-md-45 mb-lg-50">
                        <h2 class="title color-white mb-sm-15 mb-xs-10 mb-20">Experience The Evolution Of Your Business</h2>

                        <div class="description font-la mb-md-25 mb-sm-25 mb-xs-20 mb-lg-30 mb-40 color-white">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look</p>
                        </div>

                        <div class="can-help__content-btn-group d-flex flex-column flex-sm-row">
                            <a href="tel:+1235568824" class="theme-btn d-flex flex-column flex-md-row align-items-md-center">
                                <div class="icon color-red">
                                    <i class="icon-call"></i>
                                    <!-- <img src="assets/img/icon/phone-1.svg" alt=""> -->
                                </div>
                                <div class="text">
                                    <span class="font-la mb-10 d-block fw-500 color-white">Call Us Everyday</span>
                                    <h5 class="fw-500 color-white">{{site.phone}}</h5>
                                </div>
                            </a>

                            <a href="mailto:{{site.email}}" class="theme-btn d-flex flex-column flex-md-row align-items-md-center">
                                <div class="icon color-red">
                                    <i class="icon-email-1"></i>
                                    <!-- <img src="assets/img/icon/phone-1.svg" alt=""> -->
                                </div>
                                <div class="text">
                                    <span class="font-la mb-10 d-block fw-500 color-white">Email Drop Us</span>
                                    <h5 class="fw-500 color-white">{{site.email}}</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-5">
                    <div class="contact-form pt-md-30 pt-sm-25 pt-xs-20 pb-md-40 pb-sm-35 pb-xs-30 pt-xl-30 pb-xl-50 pt-45 pr-xl-50 pl-md-40 pl-sm-30 pl-xs-25 pr-md-40 pr-sm-30 pr-xs-25 pl-xl-50 pr-85 pb-60 pl-85">
                        <div class="contact-form__header mb-sm-35 mb-xs-30 mb-40">
                            <h6 class="sub-title fw-500 color-red text-uppercase mb-15"><img src="assets/img/home/line.svg" class="img-fluid mr-10" alt=""> Get In Touch</h6>
                            <h3 class="title color-d_black">Free Consultation</h3>
                        </div>

                        <form>
                            <div class="single-personal-info">
                                <input type="text" placeholder="Your Name">                                         
                            </div>                        
                            <div class="single-personal-info">
                                <input type="email" placeholder="Your e-mail">                                         
                            </div> 
                            <div class="single-personal-info">
                                <input type="text" placeholder="Subject">                                         
                            </div>                                                 
                            <div class="single-personal-info">
                                <textarea placeholder="Your Massage"></textarea>                                        
                            </div>                              
                            
                            <button type="submit" class="theme-btn btn-sm btn-red">Free Consultant <i class="far fa-chevron-double-right"></i></button>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
