<section class="financial pb-xs-80 pt-xs-80 pt-sm-100 pb-sm-100 pt-md-100 pb-md-100 pt-120 pb-120 overflow-hidden">
    <div class="container">
        <div class="row mb-minus-30">
            <div class="col-xl-4 col-md-6">
                <div class="financial__item d-flex mb-30" style="background-image: url(assets/img/home/financial__item-bg.png)">
                    <div class="icon">
                        <img src="assets/img/icon/growth.svg" alt="">
                        <!-- <i class="fal fa-analytics"></i> -->
                    </div>

                    <div class="text">
                        <h6 class="title color-pd_black mb-10 mb-xs-5">Business Strategy</h6>

                        <div class="description font-la">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="financial__item d-flex mb-30" style="background-image: url(assets/img/home/financial__item-bg.png)">
                    <div class="icon">
                        <img src="assets/img/icon/planning-1.svg" alt="">
                        <!-- <i class="fal fa-analytics"></i> -->
                    </div>

                    <div class="text">
                        <h6 class="title color-pd_black mb-10 mb-xs-5">Financial Planning</h6>

                        <div class="description font-la">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="financial__item d-flex mb-30" style="background-image: url(assets/img/home/financial__item-bg.png)">
                    <div class="icon">
                        <img src="assets/img/icon/international.svg" alt="">
                        <!-- <i class="fal fa-analytics"></i> -->
                    </div>

                    <div class="text">
                        <h6 class="title color-pd_black mb-10 mb-xs-5">International Business</h6>

                        <div class="description font-la">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>