<footer class="footer-1 footer-3 overflow-hidden" style="background-image: url(assets/img/footer/footer-bg-3.png);">
    <div class="overly">
        <div class="container"></div>
    </div>

    <div class="footer-top__box pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-top__box-wrapper d-flex flex-column flex-sm-row text-center text-sm-start justify-content-sm-between align-items-center" style="background-image: url(assets/img/footer/footer-box-bg.png);">
                        <div class="text">
                            <h3 class="title color-white">Get updated Informed to Subscribe our Newsletter</h3>
                        </div>

                        <div class="theme-btn__wrapper d-flex flex-column"> 
                            <input type="email" class="theme-btn" placeholder="Your e-mail">
                            <a href="/" class="theme-btn">Subscribe Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 col-xl-3">
                <div class="single-footer-wid widget-description">
                    <a href="/" class="d-block mb-30 mb-xs-20">
                        <img src="{{site.logo | relative_path }}" alt="">
                    </a>
                    
                    <div class="description font-la color-white mb-40 mb-sm-30 mb-xs-25">
                        <p>Trusted providers of Mendix Consultancy and Cardano Solutions, offering innovative and reliable solutions to help your business thrive.</p>
                    </div>

                </div>
            </div> <!-- /.col-lg-3 - single-footer-wid -->

            <div class="col-md-6 col-xl-2">                        
                <div class="single-footer-wid pl-xl-10 pl-50">
                    <h4 class="wid-title mb-30 color-white">Quick Link</h4>
                    
                    <ul>
                        <li><a href="about.html">About Company</a></li>
                        <li><a href="services.html">Our Services</a></li>
                        <li><a href="#">Investor Presentation</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
            </div> <!-- /.col-lg-2 - single-footer-wid -->

            <div class="col-md-6">                        
                <div class="single-footer-wid">
                    <h4 class="wid-title mb-30 color-white">Office Location</h4>

                    <div id="map" class="pinRed"></div>
                </div>
            </div> <!-- /.col-lg-3 - single-footer-wid -->
        </div>
    </div>

    <div class="footer-bottom overflow-hidden mt-20 mt-sm-15 mt-xs-10">
        <div class="container">
            <div class="footer-bottom-content d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="coppyright text-center text-md-start">
                    &copy; {{ site.time | date: "%Y" }} <a href="/">Kroft Consultancy</a> All Rights Reserved 
                </div>

            </div>
        </div>
    </div>
</footer>