<section class="get-free get-free-home overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="get-free__content-wrapper overflow-hidden" style="background-image: url(assets/img/services/get-free-bg.png);">
                    <div class="get-free__content d-flex align-items-center justify-content-between">
                        <div class="get-free__content-text">
                            <h2 class="title mb-10 mb-xs-5 color-white">Get Free Quote</h2>
                            
                            <div class="description color-white font-la fw-500">
                                Perfect solution for your Company
                            </div>
                        </div>

                        <div class="get-free__content-form">
                            <form class="d-flex flex-column flex-lg-row">
                                <div class="single-personal-info">
                                    <input type="text" placeholder="Your Name">                                         
                                </div>                        
                                <div class="single-personal-info">
                                    <input type="email" placeholder="Your e-mail">                                         
                                </div>                          
                                
                                <button type="submit" class="theme-btn btn-sm">Get Quote <i class="far fa-chevron-double-right"></i></button>                            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>