<div class="mobile-nav mobile-nav-red">
    <button type="button" class="close-nav">
        <i class="fal fa-times-circle"></i>
    </button>

    <nav class="sidebar-nav">
        <div class="navigation">
            <div class="consulter-mobile-nav"> 
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/services">Our Services</a>
                        
                    </li>
                    <li>
                        <a>About</a>
                        
                    </li>
                    
                </ul>
            </div>

            <div class="sidebar-nav__bottom mt-20">
                <div class="sidebar-nav__bottom-contact-infos mb-20">
                    <h6 class="color-black mb-5">Contact Info</h6>

                    <ul>
                        <li><a><i class="fal fa-clock"></i> Mon – Fri: 8.00 – 18.00</a></li>
                        <li><a href="mailto:c{{site.email}}"><i class="icon-email"></i>{{site.email}}</a></li>
                        <li>
                            <a class="header-contact d-flex align-items-center">
                                <div class="icon">
                                    <i class="icon-call"></i>
                                    <!-- <img src="assets/img/icon/phone-1.svg" alt=""> -->
                                </div>
                                <div class="text">
                                    <span class="font-la mb-5 d-block fw-500">Contact For Support</span>
                                    <h5 class="fw-500">{{site.phone}}</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-nav__bottom-social">
                    <h6 class="color-black mb-5">Follow On:</h6>

                    <ul>
                        <li><a href="index.html#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="index.html#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="index.html#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="index.html#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div> 
            </div>
        </div>
    </nav>
</div>    
<div class="offcanvas-overlay"></div> 
    <!-- offcanvas-overlay -->
