<section class="our-company pb-xs-80 pb-100 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6"> 
                <div class="our-company__meida">
                    <img src="assets/img/about/our-company-1.png" alt="" class="img-fluid">

                    <div class="years-experience overflow-hidden bg-red mt-20 mt-sm-10 mt-xs-10 text-center">
                        <div class="number mb-5 color-white">
                            <span class="counter">23</span><sup>+</sup>
                        </div>

                        <h5 class="title color-white">Years Experience</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6"> 
                <div class="our-company__meida border-radius">
                    <img src="assets/img/about/our-company-2.png" alt="" class="img-fluid">

                    <div class="horizental-bar bg-red"></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="our-company__content mt-md-50 mt-sm-40 mt-xs-35">
                    <span class="sub-title fw-500 color-red text-uppercase mb-sm-10 mb-xs-5 mb-20 d-block"><img src="assets/img/home/line.svg" class="img-fluid mr-10" alt=""> Know Our Company</span>
                    <h2 class="title color-pd_black mb-20 mb-sm-15 mb-xs-10">Our Company Provide High Quality Idea</h2>

                    <div class="descriiption font-la mb-30 mb-md-25 mb-sm-20 mb-xs-15">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                    </div>

                    <div class="client-feedback d-flex flex-column flex-sm-row">
                        <div class="client-feedback__item client-feedback__item-two text-center">
                            <div class="client-feedback__item-header">
                                <span class="color-red font-la fw-600 text-uppercase">Success Project</span>
                            </div>

                            <div class="client-feedback__item-body">
                                <div class="number mb-10 mb-xs-5 color-pd_black fw-600">+<span class="counter">95</span>%</div>
                                <div class="description font-la mb-10 mb-xs-5">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do.</p>
                                </div>
                                <div class="starts">
                                    <ul>
                                        <li><span></span></li>
                                        <li><span></span></li>
                                        <li><span></span></li>
                                        <li><span></span></li>
                                        <li><span></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="client-feedback__item client-feedback__item-two text-center">
                            <div class="client-feedback__item-header">
                                <span class="color-red font-la fw-600 text-uppercase">Customer Review</span>
                            </div>

                            <div class="client-feedback__item-body">
                                <div class="number mb-10 mb-xs-5 color-pd_black fw-600">+<span class="counter">4.7</span></div>
                                <div class="description font-la mb-10 mb-xs-5">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do.</p>
                                </div>
                                <div class="starts">
                                    <ul>
                                        <li><span></span></li>
                                        <li><span></span></li>
                                        <li><span></span></li>
                                        <li><span></span></li>
                                        <li><span></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>