<section class="our-portfolio-home pb-xs-80 pt-xs-80 pt-sm-100 pb-sm-100 pt-md-100 pb-md-100 pt-120 pb-120 overflow-hidden">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="our-portfolio-home__content text-center mb-60 mb-sm-50 mb-xs-40">
                    <span class="sub-title fw-500  text-uppercase mb-sm-10 mb-xs-5 mb-15 d-block color-red"><img src="assets/img/home/line.svg" class="img-fluid mr-10" alt=""> Our Portfolio</span>
                    <h2 class="title color-pd_black">Our Consulting Case Study</h2>
                </div>
            </div>
        </div>

        <div class="row mb-minus-30">
            <div class="col-xl-4 col-md-6 col-12">
                <div class="our-portfolio-home__item mb-30">
                    <div class="featured-thumb">
                        <div class="media overflow-hidden">
                            <img src="assets/img/home/our-portfolio-home__item-1.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="content d-flex flex-row">
                        <div class="left">
                            <div class="post-author mb-5 mb-xs-5 text-uppercase">
                                <a href="blog-details.html">Business, Finance</a>
                            </div>
                            
                            <h5 class="color-pd_black mb-15 mb-xs-10"><a href="blog-details.html">Business & Strategy</a></h5>
                            <div class="description font-la">
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut</p>
                            </div>
                        </div>

                        <div class="btn-link-share">
                            <a href="blog-details.html" class="theme-btn color-pd_black" style="background-image: url(assets/img/home/theme-btn-overly.png)">View Details <i class="icon-arrow-right-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-12">
                <div class="our-portfolio-home__item mb-30">
                    <div class="featured-thumb">
                        <div class="media overflow-hidden">
                            <img src="assets/img/home/our-portfolio-home__item-2.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="content d-flex flex-row">
                        <div class="left">
                            <div class="post-author mb-5 mb-xs-5 text-uppercase">
                                <a href="blog-details.html">Financial solution</a>
                            </div>
                            
                            <h5 class="color-pd_black mb-15 mb-xs-10"><a href="blog-details.html">Financial Reporting</a></h5>
                            <div class="description font-la">
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut</p>
                            </div>
                        </div>

                        <div class="btn-link-share">
                            <a href="blog-details.html" class="theme-btn color-pd_black" style="background-image: url(assets/img/home/theme-btn-overly.png)">View Details <i class="icon-arrow-right-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-12">
                <div class="our-portfolio-home__item mb-30">
                    <div class="featured-thumb">
                        <div class="media overflow-hidden">
                            <img src="assets/img/home/our-portfolio-home__item-3.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="content d-flex flex-row">
                        <div class="left">
                            <div class="post-author mb-5 mb-xs-5 text-uppercase">
                                <a href="blog-details.html">Business, Consulting</a>
                            </div>
                            
                            <h5 class="color-pd_black mb-15 mb-xs-10"><a href="blog-details.html">Business Consulting</a></h5>
                            <div class="description font-la">
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut</p>
                            </div>
                        </div>

                        <div class="btn-link-share">
                            <a href="blog-details.html" class="theme-btn color-pd_black" style="background-image: url(assets/img/home/theme-btn-overly.png)">View Details <i class="icon-arrow-right-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>