<section class="planning-success pb-xs-80 pt-xs-80 pt-sm-100 pb-sm-100 pt-md-100 pb-md-100 pt-120 pb-130 overflow-hidden" style="background-image: url(assets/img/home/planning-success-bg.png);" >
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-9">
                <div class="planning-success__content mb-xs-35">
                    <h2 class="title mb-20 mb-sm-15 mb-xs-10 color-white">Good Business Planning Ensures Success.</h2>

                    <div class="description font-la color-white mb-40 mb-sm-30 mb-xs-20">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>

                    <a href="services.html" class="theme-btn btn-sm btn-red">View All Services <i class="far fa-chevron-double-right"></i></a>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="planning-success__video">
                    <a href="https://www.youtube.com/watch?v=9xwazD5SyVg" class="popup-video mx-auto" data-effect="mfp-move-from-top"><i class="icon-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>