<section class="why-choose why-choose__home pb-xs-80 pt-xs-80 pt-sm-100 pb-sm-100 pt-md-100 pb-md-100 pt-120 pb-120 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="why-choose__content why-choose__content-home">
                    <div class="why-choose__text">
                        <span class="sub-title d-block fw-500 color-red text-uppercase mb-sm-10 mb-xs-5 mb-15"><img src="assets/img/home/line.svg" class="img-fluid mr-10" alt=""> Our solutions</span>
                        <h2 class="title color-pd_black">Developing Solutions For The Future</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="why-choose__content why-choose__content-home mt-md-25 mt-sm-20 mt-xs-20">
                    <div class="description font-la">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                    </div>

                    <a href="services-2.html" class="theme-btn btn-sm btn-red mt-30 mt-sm-25 mt-xs-20">View All Services <i class="far fa-chevron-double-right"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="why-choose__item-wrapper why-choose__item-two-wrapper d-grid justify-content-between mt-60 mt-md-50 mt-sm-40 mt-xs-30"> 
                    <div class="why-choose__item why-choose__item-two" style="background-image: url(assets/img/home/why-choose__item-two-overly.png);">
                        <div class="icon mb-30 mb-lg-20 mb-md-10 mb-xs-5 color-red">
                            <i class="icon-consultation"></i>
                        </div>
                    
                        <h6 class="title color-pd_black fw-600 mb-15 mb-xs-10">Business Consulting</h6>
                        
                        <div class="description font-la mb-20 mb-sm-15 mb-xs-10">
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntu.</p>
                        </div>

                        <a href="services-details.html" class="color-red d-block">Read More <i class="far fa-chevron-double-right"></i></a>
                    </div> 
                    
                    <div class="why-choose__item why-choose__item-two" style="background-image: url(assets/img/home/why-choose__item-two-overly.png);">
                        <div class="icon mb-30 mb-lg-20 mb-md-10 mb-xs-5 color-red">
                            <i class="icon-lawyer"></i>
                        </div>
                    
                        <h6 class="title color-pd_black fw-600 mb-15 mb-xs-10">Lawyer Consulting</h6>
                        
                        <div class="description font-la mb-20 mb-sm-15 mb-xs-10">
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntu.</p>
                        </div>

                        <a href="services-details.html" class="color-red d-block">Read More <i class="far fa-chevron-double-right"></i></a>
                    </div> 

                    <div class="why-choose__item why-choose__item-two" style="background-image: url(assets/img/home/why-choose__item-two-overly.png);">
                        <div class="icon mb-30 mb-lg-20 mb-md-10 mb-xs-5 color-red">
                            <i class="icon-financial"></i>
                        </div>
                    
                        <h6 class="title color-pd_black fw-600 mb-15 mb-xs-10">Financial Consulting</h6>
                        
                        <div class="description font-la mb-20 mb-sm-15 mb-xs-10">
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntu.</p>
                        </div>

                        <a href="services-details.html" class="color-red d-block">Read More <i class="far fa-chevron-double-right"></i></a>
                    </div>
                    
                    <div class="why-choose__item why-choose__item-two" style="background-image: url(assets/img/home/why-choose__item-two-overly.png);">
                        <div class="icon mb-30 mb-lg-20 mb-md-10 mb-xs-5 color-red">
                            <i class="icon-management"></i>
                        </div>
                    
                        <h6 class="title -pd_black secondary-500 6b-15 mb-xs-10">IT Management</h6>
                        
                        <div class="description font-la mb-20 mb-sm-15 mb-xs-10">
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntu.</p>
                        </div>

                        <a href="services-details.html" class="color-red d-block">Read More <i class="far fa-chevron-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>