<section class="work-process work-process-home bg-dark_red pb-xs-80 pb-sm-100 pb-md-100 pb-120 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pricing__content mb-60 mb-sm-40 mb-xs-30 text-center">
                    <span class="sub-title d-block fw-500 color-red text-uppercase mb-sm-10 mb-xs-5 mb-15"><img src="assets/img/home/line.svg" class="img-fluid mr-10" alt=""> Our Work Process</span>
                    <h2 class="title color-pd_black">How Our Services Work</h2>
                </div>
            </div>
        </div>

        <div class="row mb-minus-30 last_no_bullet">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="work-process__item work-process__item-two mb-30 text-center">
                    <div class="icon-wrapper d-flex">    
                        <div class="icon">
                            <i class="icon-research"></i>
                        </div>

                        <button class="theme-btn color-pd_black" style="background-image: url(assets/img/home/theme-btn-overly-1.png)">Step - 1</button>
                    </div>

                    <div class="text">
                        <h6 class="title color-pd_black mb-15 mb-sm-10 mb-xs-5">Research Your Problem</h6>

                        <div class="description font-la">
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="work-process__item work-process__item-two mb-30 text-center">
                    <div class="icon-wrapper d-flex">    
                        <div class="icon">
                            <i class="icon-worker-1"></i>
                        </div>

                        <button class="theme-btn color-pd_black" style="background-image: url(assets/img/home/theme-btn-overly-1.png)">Step - 2</button>
                    </div>

                    <div class="text">
                        <h6 class="title color-pd_black mb-15 mb-sm-10 mb-xs-5">Identifying Problem</h6>

                        <div class="description font-la">
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut</p>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="work-process__item work-process__item-two mb-30 text-center">
                    <div class="icon-wrapper d-flex">    
                        <div class="icon">
                            <i class="icon-outline"></i>
                        </div>

                        <button class="theme-btn color-pd_black" style="background-image: url(assets/img/home/theme-btn-overly-1.png)">Step - 3</button>
                    </div>

                    <div class="text">
                        <h6 class="title color-pd_black mb-15 mb-sm-10 mb-xs-5">Solutions Your Problem</h6>

                        <div class="description font-la">
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="work-process__item work-process__item-two mb-30 text-center">
                    <div class="icon-wrapper d-flex">    
                        <div class="icon">
                            <i class="icon-target-2"></i>
                        </div>

                        <button class="theme-btn color-pd_black" style="background-image: url(assets/img/home/theme-btn-overly-1.png)">Step - 4</button>
                    </div>

                    <div class="text">
                        <h6 class="title color-pd_black mb-15 mb-sm-10 mb-xs-5">Success Your Business</h6>

                        <div class="description font-la">
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>